*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
    background-image: url(https://imgs.search.brave.com/JIpTzrGC8sC-hde2iVyhPzYlJ3MU6PFGC8gVZplHTp0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTgy/MTc1MTQzL3Bob3Rv/L3Bob3RvLW9mLXNv/bWUtd2hpdGUtd2hp/c3B5LWNsb3Vkcy1h/bmQtYmx1ZS1za3kt/Y2xvdWRzY2FwZS5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/NHBNMXVFVDI2MGNW/bFpvb3VsQkJCalNU/OUN4LXV6S3dCTk5Z/eW4zQU5faz0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
body{
    overflow-x:hidden
}
#main{
    height:100%;
    width: 100%;
    position:relative;
}
#nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:40px 50px;
    color:white;
    
}
#nav h2{
    font-size:30px;
}
#nav i{
    font-size: 30px;
    font-weight:800;
    cursor:pointer;
}
#full{
    height:100%;
    width:40%;
    background-color: rgba(255, 255, 255, 0.277);
    position:absolute;
    top:0;
    /* ham chah rhe hai ki vo button dabane pe size se aaye to hame jjitni width de rkhi hai utni hi right se position deni hai  */

    right:-40%;
    /* background-filter se jo background lagayenge vo blue kar skte hai par agar blur kar rhe hai to jo bgcolor hai uski intensity kam karni padegi hame  */
    backdrop-filter: blur(20px);
    padding: 120px 60px;

}
#full h4{
    font-size:70px;
    font-weight: 500;;
    margin-bottom:10px
}
#full i{
    position:absolute;
    top:5%;
    right:15%;
    background-color: white;
    border-radius: 50%;
    padding:10px;
    font-weight: 500;
    font-size: 20px;
    cursor:pointer;
}